@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }
}

.circles {
    background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, var(--color-indigo-50) 32px), repeating-linear-gradient(var(--color-green-50), var(--color-indigo-50));
background-color: var(--color-indigo-50);
}
